*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    max-width: 1920px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;   
}
.header__inner{
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
}
.header__text{
    margin-right: auto;
    margin-left: 30px;
    color: #9a9a9a;
    font-size: 16px;
}
.header__phone a{
    text-decoration: none;
    position: relative;
}
.header__phone a:before{
    content: '';
    background-image: url(../images/phone.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: -27px;
    top: 5px;
}
.header__phone-number{
    font-weight: 500;
    color: #303030;
    font-size: 20px;
}
.header__phone-text{
    font-size: 12px;
    color: #9a9a9a;
    text-align: right;
    padding-top: 3px;
}


.top{
    margin-bottom: 75px;
}
.top__images{
    background-image: url(../images/top1bg.jpg);
    min-height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1720px;
    margin: 0 auto;
}
.top__wrapper{
    margin-top: -450px;

}
.top__inner{
    display: flex;
    justify-content: space-between;
}
.top__inner-img{
    margin-left: 125px;
}
.top__inner-form{
    max-width: 570px;
    width: 100%;
}
.top__inner-suptitle{
    margin-top: 70px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}
.top_inner-title{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #fff; 
}
.top__inner-text{
    margin-bottom: 73px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.top-form{
    background-color: #fff;
    padding: 20px;
}
.top-form form{
    border: 1px solid #c8dcba;
    position: relative;
}
.top-form__inner{
    padding: 50px 50px 118px 50px;
}
.top-form__title{
    color: #303030;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 35px;
    font-weight: 700;
    text-transform: uppercase;
    width: 190px;
}
.top-form input{
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #c8dcba;
    outline: none;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    width: 195px;
}
.top-form input + input{
    margin-left: 29px;
}
.top-form input::placeholder{
    color: #c8dcba;
}
.top-form button{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 22px 110px 22px 75px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #7eb252;
    text-transform: uppercase;
    cursor: pointer;
}
.top-form button:after{
    content: '';
    background-image: url(../images/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 60px;
    top: 25px;
}

.advantages{
    margin-bottom: 200px;
}
.advantages__inner{
    display: flex;
    justify-content: space-around;
}
.advantages__item{
    width: 240px;
    padding-left: 40px;
    padding-top: 35px;
    position: relative;
}
.advantages__item::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid rgba(126,178,82,.3);
    top: 0;
    left: 0;
}
.advantages__item-number{
    color: #a4c58c;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid #a4c58c;
    display: inline-block;
}
.advantages__item-number span{
    font-size: 30px; 
}
.advantages__item-text{
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
}


.list{
    padding-top: 50px;
}
.list__content{
    background-color: #f6f9f3;
    padding-bottom: 30px;
    margin: 0 100px;
    max-width: 1720px;
}
.list__inner{
    display: flex;
}
.list__title{
    margin-left: 360px;
    font-weight: 700;
    color: #303030;
    font-size: 40px;
    line-height: 50px;
    max-width: 470px;
    margin-bottom: 30px;
}
.tabs__content{
    min-width: 500px;
    height: 689px;
    background-image: url(../images/list-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    margin-top: -165px;

}
.list__inner{
    display: flex;
    justify-content: space-between;
}
.tabs{
    padding-right: 20px;
    width: 100%;
    
}
.tabs .active{
    position: relative;
}
.tabs .active::after{
    content: "";
    position: absolute;
    right: 25px;
    width: 8px;
    height: 13px;
    background: url(../images/arr-rigth.png) no-repeat;

}

.tab{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #303030;
    padding: 26px 40px 26px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6efde;
    text-transform: uppercase;
    cursor: pointer;

}
.tab span, .tab-box__6-7 span, .tab-box__8-9 span{
    
    color: #a4c58c;
    margin-right: 18px; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 600; 
}
.tab-box{
    display: flex;
    

    
}
.tab-box__6-7{
    border-right: 1px solid #e6efde;
    width: 350px;
    display: flex;
    padding: 23px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
 
}

.tab-box__8-9{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    width: 300px;
    height: 87px;
    
}
.tab-box__8-9 span{
    margin: 18px;
}


.tab-item{
    display: none;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    width: 43px;
    height: 43px;
    border: 9px solid rgba(255,255,255,.8);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 25px;

}
.tab-item:first-child{
    display: block;
}
.item-1{
    left: 150px;
    top: 182px;
}
.item-2{
    left: 300px;
    top: 200px;
}
.item-3{
    left: 200px;
    top: 130px;
}
.item-4{
    left: 250px;
    top: 150px;
}
.item-5{
    left: 227px;
    top: 20px;
}
.item-6{
    left: 180px;
    top: 360px;
}
.item-7{
    left: 270px;
    top: 340px;
}
.item-8{
    left: 227px;
    top: 190px;
}
.item-9{
    left: 270px;
    top: 100px;
}
.tabs__inner{
    position: relative;
}
.tabs__content-form{
    background-color: #f6f9f3;
    padding: 20px;
    max-width: 415px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 530px;
    
}
.tabs__content-form form{
    border: 1px solid #c8dcba;
    position: relative;
    width: 375px;
}
.tabs-form__title{
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 40px 28px 37px 50px;
}
.tabs-form__read{
    font-size: 14px;
    line-height: 24px;
    color: #7eb252;
    font-family: "Montserrat";
    font-weight: 600;
    position: absolute;
    top: 135px;
    left: 35px;
    background-color: #f6f9f3;
    padding: 0 10px;
}
.tabs__inner-but{
    position: absolute;
    top: 180px;
    left: -21px;
}

.tabs__inner-but button{
    border: none;
    outline: none;
    margin-top: 30px;
    position: relative;
    height: 70px;
    width: 500px;
    background-color: #7eb252;
    margin-bottom: 50px;

    padding-right: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

}

.tabs__inner-but button::after {
    content: '';
    background-image: url(../images/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 95px;
    top: 31px;
}






.popular{
    max-width: 1920px;
    margin-bottom: 280px;
}
.popular__content{
    margin: 290px 100px 200px;
    display: flex;
    justify-content: space-between;
    
}
.popular__img{
    width: 100%;
    position: relative;
}
.popular__img-image{
    padding-right: 70px;
}


.popular__text{
    
    width: 100%;
}
.popular__text-title{
    font-size: 40px;
    line-height: 50px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
    max-width: 475px;
    margin-bottom: 50px;
}
.popular__text-subtitle{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 16px;
}
.popular__list-inner{
    display: flex;
    max-width: 500px;
    margin-top: 52px;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 400;
}
.popular__list-img{
    margin-right: 31px;
    background: url(../images/arr-rigth.svg) no-repeat center;
    width: 15px;
}

.popular__img-form{
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    height: 250px;
    position: absolute;
    top: 476px;
    left: 275px;
    
    
}
.popular__form__inner{
    border: 1px solid #c8dcba;
    position: relative;
    width: 560px;
}
.popular__form__text{
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 40px 70px 35px 40px;
    
}
.popular__form-but button{
    width: 560px;
    height: 70px;
    background-color: #7eb252;
    border: none;
    outline: none;
    margin-bottom: 50px;
    position: relative;
    padding-right: 75px;
    
    font-size: 14px;
   
    line-height: 22px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.popular__form-but button::after {
    content: '';
    background-image: url(../images/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 45px;
    top: 31px;
}




.history{
    max-width: 1920px;
    
}
.history__content{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.history__content-img {
    max-width: 775px;
    min-height: 920px;
}
.history__content-inner{
    color: #303030;
    font-family: "Montserrat";
}

.history-inner__title{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin: 95px 0 0 265px;
}
.history-inner__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: #f6f9f3;
    margin-top: 30px;
    padding: 30px 0 60px 265px;
    
}

.history-inner__text p{
    margin-top: 20px;
    max-width: 665px;
    
}
.history-inner__form{
    margin: 35px 70px 0px 495px;
    min-width: 375px;
}
.history__form-text{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: 40px;
}
.history-inner__form input{
    border: none;
    padding-bottom: 14px;
    border-bottom: 2px solid #c8dcba;
    outline: none;
    width: 100%;
    font-size: 14px;
    
    color: #a8c48c;
    font-family: "Montserrat";
    font-weight: 400;
}

.history__form-but button{
    border: none;
    outline: none;
    margin-top: 30px;
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #7eb252;
    margin-bottom: 50px;
    
    padding-right: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
   
}
.history__form-but button::after {
    content: '';
    background-image: url(../images/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 70px;
    top: 26px;
}








.proffit{
    margin-top: 150px;
}

.proffit__autor-card{
    margin: 0 200px;
    border-bottom: 3px solid #c8dcba;
    border-top: 3px solid #c8dcba;
}
.autor-card__text{
    margin: 60px 0 40px;
    text-align: center;
    width: 775px;
    height: 161px;
    font-size: 24px;
    line-height: 40px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
}
.autor-card__signature{
    font-size: 18px;
    line-height: 30px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
}
.autor-card__signature span{
    color: #ababab;
}


.proffit__content{
    margin-bottom: 200px;
}
.proffit__title{
    margin-top: 195px;
    font-size: 40px;
    line-height: 50px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
    max-width: 515px;
}
.proffit__content-cards{
    margin: 100px 100px 0;
    max-width: 1920px;
    background-color: #f6f9f3;
    min-height: 380px;
    position: relative;
}
.proffit__cards{
        width: 1010px;
        height: 330px;
        margin: 0px 350px;
        background-color: #fff;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: -50px;
}
.proffit__cards li{
    width: 310px;
    height: 310px;
    border: 1px solid #a4c58c;
    text-align: center;
    
    font-size: 150px;
    letter-spacing: 8px;
    line-height: 20px;
    color: #f7f9f3;
    font-family: "Montserrat";
    font-weight: 900;
    padding-top: 115px;
}
.profit__card-img{
    margin-top: -50px;
    max-height: 50px;
}
.proffit__cards li p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #303030;
    font-family: "Montserrat";
    font-weight: 700;
    padding-top: 75px;
    text-transform: uppercase;
}